.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18vh;
  color: pink;
  width: 100%;
}

.text-container {
  width: 60%;
}

.tobias {
  font-family: consolas, "Courier New", Courier, monospace;
  letter-spacing: 5px;
  color: var(--light-blue-1);
  text-align: center;
  text-shadow: 2px 2px 10px lightblue, -2px -2px 10px #24c882;
  font-size: 2.42rem;
  color: #298df1; /* Change text color */
  font-weight: bold; /* Bold text */
  margin-top: 50px; /* Add margin to top */
  animation: fadeIn 2s ease-in-out forwards; /* Add animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
    transform: translateY(-20px); /* Move text up */
  }
  to {
    opacity: 1; /* End with full opacity */
    transform: translateY(0); /* Move text back to original position */
  }
}

.contact-headings {
  padding-bottom: 10vh;
}

.text-contact {
  color: var(--light-blue-3);
  font-weight: bold;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  border: 1.5px solid var(--light-blue-3);
  padding: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
}

.svg {
  fill: var(--light-blue-1);
  transition: all 0.3s ease;
  font-size: 2.5rem;
  padding: 20px;
}

.svg:hover {
  fill: #24c882;
  transform: scale(1.25);
}

.email {
  color: var(--light-blue-3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.conctact-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  margin: 50px;
  background-color: var(--light-blue-a);
  border-radius: 10px;
}

.conctact-email-container h2 {
  color: var(--light-blue-1);
  letter-spacing: 3.5px;
}

form {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 80%;
  flex-direction: column;
}

label {
  color: var(--light-blue-0);
  font-weight: bold;
}

.e-input {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--light-blue-3);
  padding: 5px;
}

.e-input:focus {
  outline-color: var(--light-blue-3);
}

.submit-btn {
  background-color: var(--light-blue-0);
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  color: var(--light-blue-a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  padding: 6pxpx;
}

.submit-btn:hover {
  background-color: #24c882;
  color: whitesmoke;
}

.email-sent {
  position: fixed;
  bottom: 10%;
  right: -20%;
  opacity: 0;
  cursor: pointer;
  color: whitesmoke;
  width: 150px;
  height: 50px;
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.301);
}

.show-sent {
  opacity: 1;
  right: 5%;
}

.true {
  background-color: #24c882;
}

.false {
  background-color: #f65539;
}

.email-sent svg {
  fill: whitesmoke;
}

textarea {
  width: 300px;
  height: 80px;
  resize: none;
  justify-self: center;
  padding: 5px;
}

@media screen and (max-width: 450px) and (max-height: 915px) {
  .contact-section {
    padding-top: 20vh;
  }

  .contact-headings {
    padding-bottom: 5vh;
  }

  .conctact-email-container {
    padding: 20px;
  }

  .text-contact {
    font-size: 1rem;
  }

  .text-container {
    width: 85%;
  }

  .socials {
    padding-top: 5vh;
  }
}
