.province-section {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.province-data-container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 0px 10px var(--light-blue-0);
}

.img-left > * {
  color: var(--light-blue-a);
}

.text-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  padding: 5vh;
  flex-direction: column;
}

.single-name {
  text-align: center;
  color: var(--light-blue-a);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 7.3px;
  text-shadow: 2px 2px 10px var(--light-blue-0),
    -2px -2px 10px var(--light-blue-dark);
}

.single-phrase {
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  color: var(--light-blue-a);
  font-style: italic;
}

.dark-img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover;
}

.province-data {
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  padding: 5px 4vh;
  font-weight: 100;
  color: var(--light-blue-dark);
  text-decoration: dotted;
}

.province-p {
  font-size: 1.1em;
  padding: 20px 4vh;
  color: var(--light-blue-text);
  font-weight: 600;
  margin-bottom: 10px;
}

.reserve {
  letter-spacing: 3.5px;
  padding: 1.8vh;
  font-size: 1rem;
  background-color: var(--light-blue-0);
  transition: all 0.5s;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: whitesmoke;
  transition: var(--transition);
}

.reserve:hover {
  color: white;

  background-color: var(--light-blue-3);
  transform: scale(1.12);
}

.province-data::before {
  content: "• ";
  color: var(--light-blue-0);
}

@media screen and (max-width: 450px) and (max-height: 900px) {
  .province-section {
    flex-direction: column;
  }
  .img-left {
    padding-top: 5%;
    height: auto;
  }
  .province-data-container {
    width: 100%;
  }

  .img-left {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .single-name {
    font-size: 2rem;
  }
  .single-phrase {
    font-size: 1rem;
  }
  .reserve {
    font-size: 0.8rem;
  }
  .province-p {
    font-size: 1rem;
  }
  .province-data {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  .province-data {
    font-size: 0.8em;
  }

  .province-data-container {
    padding: 20px;
  }
  .province-p {
    font-size: 1em;
  }

  .single-phrase {
    font-size: 1rem;
    border-width: 1.8px;
  }
}

@media screen and (max-width: 800px) {
  .province-section {
    padding-top: 70px;
    flex-direction: column;
  }

  .img-left {
    width: 100%;
    height: 70vh;
  }

  .province-data-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 0px 10px var(--light-blue-0);
  }
}
